.name-card {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-cursor: hand;
}

.name-card:hover {
    -fx-background-color: #40444b;
}

.name-card-label {
    -fx-font-size: 15px;
    -fx-font-weight: 700;
    -fx-text-fill: #c8c8c8;
}
